#Nameplate {
    box-sizing: border-box;
    color: var(--title-text-color);
    font-size: var(--text-xxl);
    font-weight: normal;
    width: auto;
    margin: 0;
    display: flex;
    align-items: center;
}

#Nameplate.-without-divider {
    border: none;
}

#Nameplate a {
    display: flex;
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: normal;
}

@media (min-width: 1000px) {
    #Nameplate {
        width: 30.6666666667%;
        border-right: var(--sidebar-border-color) solid 1px;
    }
}
