{% if node.summary %}
  <p class="Summary">{{ node.summary }}</p>
{% endif %}

{{ include('components/description.html.twig') }}
{{ include('components/tags.html.twig', {node: node}) }}
{{ include('components/table-of-contents.html.twig') }}
