{% if node.summary %}
  <p class="Summary">{{ node.summary }}</p>
{% endif %}

{% if node.description %}
  <div class="Description">{{ node.description|description|markdown }}</div>
{% endif %}

{{ include('components/tags.html.twig', {node: node}) }}
{{ include('components/Toc.html.twig') }}
