{% if method.response.description is not empty %}
  <h5 class="phpdocumentor-return-value__heading">Return values</h5>
  <span class="phpdocumentor-signature__response_type">{{ method.response.type|route('class:short')|join('|')|raw }}</span>
  {% if method.response %}
    &mdash;
    <div class="Description">{{ method.response.description|description|markdown }}</div>
  {% endif %}
{% endif %}
