{% set methods = methods(node)|sortByVisibility %}
{% if methods is not empty %}
    <section class="MemberList MethodList">
        <h3 class="MemberListName" id="methods">Methods <a href="{{ link(node) }}#methods" class="headerlink"></a></h3>
        {% for method in methods %}
            {% include 'components/method.html.twig' %}
        {% endfor %}
    </section>
{% endif %}
