{% set properties = properties(node)|sortByVisibility %}

{% if properties is not empty %}
    <section class="MemberList PropertyList">
        <h3 class="MemberListName" id="properties">Properties <a href="{{ link(node) }}#properties" class="headerlink"></a></h3>
        {% for property in properties %}
            {% include 'components/property.html.twig' %}
        {% endfor %}
    </section>
{% endif %}
