<section id="SearchResults" class="Hidden">
  <div id="SearchDialog">
    <header>
      <h2>Search results</h2>
      <button id="CloseSearchDialog">Close</button>
    </header>
    <ul id="SearchResultList"></ul>
  </div>
</section>
