@use 'Svg';
@use 'Button';
@use 'Color';

/* ######################################################################### */
/* # Anchors                                                                 */
/* ######################################################################### */

	a {
		color: Color.primary('accent');
		text-decoration : underline;
	}


/* ######################################################################### */
/* # Boxes                                                                   */
/* ######################################################################### */

	input[type="date"],   input[type="datetime-local"], input[type="email"],
	input[type="month"],  input[type="number"], input[type="password"],
	input[type="search"], input[type="tel"],    input[type="text"],
	input[type="time"],   input[type="url"],    input[type="week"],
	select, textarea {
		background-color : Color.primary('bg');
		border : 1px solid #ccc;
		border-radius : 0.25rem;
		color : Color.primary('copy');
		font-family : inherit;
		font-size : 1rem;
	}
	input[type="date"],   input[type="datetime-local"], input[type="email"],
	input[type="month"],  input[type="number"], input[type="password"],
	input[type="search"], input[type="tel"],    input[type="text"],
	input[type="time"],   input[type="url"],    input[type="week"],
	select {
		align-items : center;
		box-shadow: 0 0 0 2px transparent inset;
		display : inline-flex;
		flex-direction : row;
		margin-bottom : 0.40rem;
		min-height : 2.5rem;
		padding : 0.4rem 0.7rem 0.4rem 1rem;
		vertical-align : top;
		width : 100%;
	}
	input[type="date"]:focus,   input[type="datetime-local"]:focus,
	input[type="email"]:focus,  input[type="month"]:focus,
	input[type="number"]:focus, input[type="password"]:focus,
	input[type="search"]:focus, input[type="tel"]:focus,
	input[type="text"]:focus,   input[type="time"]:focus,
	input[type="url"]:focus,    input[type="week"]:focus,

  select::-ms-expand {
    display: none;
  }
  select:focus {
		border-color : #555;
		box-shadow: 0 0 0 2px Color.primary('copy') inset;
		outline: none;
	}
	select {
		appearance: none;
		background-color: #fff;
		background-image: url(Svg.arrowDown(Color.primary('copy')));
		background-position: right 0.80rem top 50%;
		background-repeat: no-repeat;
		background-size: .65em auto;
		cursor: pointer;
		display: inline-block;
		padding-right: 1.9rem;
		max-width: 100%;
    &:hover {
      background-image: url(Svg.arrowDown(Color.primary('accent')));
    }
	}
	@media ( min-width : 400px ) {
		input[type="date"],   input[type="datetime-local"], input[type="email"],
		input[type="month"],  input[type="number"], input[type="password"],
		input[type="search"], input[type="tel"],    input[type="text"],
		input[type="time"],   input[type="url"],    input[type="week"],
		select {
			width : auto;
		}
	}


/* ######################################################################### */
/* # Buttons                                                                 */
/* ######################################################################### */

  .Button,
	a.Button,
	input[type="button"],
	input[type="submit"],
	input[type="reset"] {
		@include Button.Default();
	}


/* ######################################################################### */
/* # Buttons: Subtle                                                         */
/* ######################################################################### */

  .ButtonSubtle,
	a.ButtonSubtle,
  input[type="button"].ButtonSubtle,
  input[type="submit"].ButtonSubtle,
  input[type="reset"].ButtonSubtle {
		@include Button.Subtle;
	}

  .ButtonSubtle.Disabled,
	a.ButtonSubtle.Disabled,
  input[type="button"]:disabled.ButtonSubtle,
  input[type="submit"]:disabled.ButtonSubtle,
  input[type="reset"]:disabled.ButtonSubtle {
    border-color: transparent;
    cursor: default;
    &:hover {
      color: inherit;
      background: inherit;
    }
	}


/* ######################################################################### */
/* # Tickables                                                               */
/* ######################################################################### */

	input[type="checkbox"], input[type="radio"] {
		cursor : pointer;
	}
	input[type="checkbox"]:focus, input[type="radio"]:focus {
		border-color : #555;
		box-shadow: 0 0 0 2px Color.primary('copy') inset;
		outline : none;
	}


/* ######################################################################### */
/* # Custom Tickables                                                        */
/* ######################################################################### */

	.checkbox, .radio {
		position : relative;
	}
	.checkbox input[type="checkbox"],
	.radio input[type="radio"] {
		position : absolute;
		left : -99999rem;
	}
	.checkbox label,
	.radio label {
		align-items : center;
		display : inline-flex;
		flex-direction : row;
		flex-wrap : wrap;
		position : relative;
	}
	.checkbox label::before,
	.radio label::before {
		content : "";
		display : inline-block;
		margin-right : 0.50rem;
		height : 1.25rem;
		width : 1.25rem;
		border: 2px solid Color.primary('copy');
		background-color: Color.primary('bg');
	}
	.checkbox input[type="checkbox"]:focus + label::before,
	.radio input[type="radio"]:focus + label::before {
		box-shadow: 0 0 0 2px Color.primary('copy');
		outline : none;
	}
	.checkbox label::before {
		border-radius : 0.25rem;
	}
	.checkbox input[type="checkbox"]:checked + label::before {
    background-image : url( Svg.checkmark() );
		background-position : right 50% top 50%;
		background-repeat : no-repeat;
		background-size : .65em auto;
	}
	.radio label::before {
		border-radius : 100%;
		padding : 0.3rem;
	}
	.radio input[type="radio"]:checked + label::before {
		background-color : #000;
		background-clip: content-box;
	}


/* ######################################################################### */
/* # Labels                                                                  */
/* ######################################################################### */

	label {
		cursor : pointer;
	}


/* ######################################################################### */
/* # Etc.                                                                    */
/* ######################################################################### */

	::-moz-focus-inner {
		border : 0;
	}
