/**
 * Structure.
 *
 * Styles for the main layout elements.
 *
 * What is an element?
 *  - It's too general'
 *
 *
 *
 */

@use 'Animate';
@use 'Button';
@use 'Font';
@use 'Svg';
@use 'Color';
@use 'Typography' as Typo;
@use 'Utility';

.Bling {
  color : Color.primary('stress');
}


/* ######################################################################### */
/* # Template                                                                */
/* ######################################################################### */

%landmark {
  max-width: 36rem;
  margin: 0 auto;
  padding: 1rem;
}

body {
  > header {
    @extend %landmark;
    background: Color.secondary('bg');
    color: Color.secondary('copy');
    fill: Color.secondary('copy');
    max-width: none;
    a {
      color: inherit;
    }
    > div {
      align-items: stretch;
      background: inherit;
      color: inherit;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      max-width: 36rem;
      margin: 0 auto;
    }
    .Heading {
      margin: 0 0.5rem 0 0;
      padding: 0.5rem;
      .SiteName {
        color: inherit;
        display: inline-block;
        font-family: Font.headline();
        font-size: 2.00rem;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        position: relative;
        @media(min-width: 630px) {
          &:before {
            color: Color.secondary('stress');
            content: '\229B';
            display: inline-block;
            font-size: 3.5rem;
            line-height: 0.8;
            position: absolute;
              top: -0.25rem;
              left: -2.5rem;
            text-align: left;
            text-indent: -0.21rem;
            width: 2.1rem;
            height: 2.1rem;
          }
        }
        &.Spin {
          @media(min-width: 630px) {
            &:before {
              @include Animate.spin;
            }
          }
        }
        a {
          text-decoration: none;
          &:focus {
            outline: 0;
            text-decoration: underline;
          }
        }
        .Bling {
          color : Color.secondary('stress');
        }
      }
      .Tagline {
        color: inherit;
        display: block;
        font-size: 0.70rem;
        margin: 0;
        @media(min-width: 400px) {
          font-size: 0.75rem;
        }
        @media(min-width: 520px) {
          font-size: 0.80rem;
        }
      }
      &.Focused,
      &.Focused * {
        background: Color.red('bg');
        color: Color.red('copy');
      }
    }
    #Navigation {
      font-family: Font.headline();
      font-weight: bold;
      position: relative;
      text-align: right;
      .ToggleButton {
        appearance: none;
        background: inherit;
        border: 0;
        color: Color.secondary('stress');
        cursor: pointer;
        fill: Color.secondary('stress');
        font-family: Font.headline();
        font-size: 0.8rem;
        margin: 0;
        min-width: 44px;
        min-height: 44px;
        padding: 0;
        .Icon {
          background-color: inherit;
          color: inherit;
          fill: inherit;
        }
        &:focus {
          outline: 0;
          background: Color.secondary('stress');
          color: Color.secondary('bg');
          fill: Color.secondary('bg');
        }
      }
      #NavigationToggleClose {
        display: none;
      }
      .ToggleArea {
        background: Color.secondary('stress');
        color: Color.secondary('bg');
        fill: Color.secondary('bg');
        position: absolute;
        top: 44px;
        right: 0;
        z-index: 99999;
        text-align: left;
        width: 292px;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }
        a {
          align-items: center;
          background: inherit;
          color: inherit;
          display: flex;
          min-height: 44px;
          padding: 0 0.5rem;
          text-decoration: none;
        }
        a:focus {
          background: Color.red('bg');
          color: Color.red('copy');
          outline: 0;
        }
      }
    }
  }
  > footer {
    @extend %landmark;
    margin: 3rem auto 0;
    max-width: 36rem;
    padding: 0 1rem 1rem;
    text-align: left;
    .Menu {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        &:before {
          color: Color.primary('border');
          content: '\272A\0020';
        }
        &:first-child {
          &:before {
            content: '';
          }
        }
      }
      a {
        display: inline-block;
        margin-right: 0.5rem;
        text-decoration: none;
        white-space: pre-wrap;
      }
    }
    @media(min-width: 520px) {
      text-align: center;
    }
  }
}

#Sidebar {
  background: pink;
  position: fixed;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    ul {
      padding-left: 1rem;
    }
  }
  p {
    margin: 0;
  }
  @media (min-width: 450px) {
    background: lightblue;
    color: Color.primary('stress');
  }
}
#Content {
  @include Utility.VisibleBox();
  margin-left: 300px;
  padding-right: 1rem;
}


.Toc {
  .MemberName {
    font-weight: bold;
    text-decoration: none;
  }
}



/*
.Element {
  border: 1px solid red;
  margin: 1rem 0;
}
*/


.Toc {
  border-collapse: collapse;
  caption {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 0.90rem;
  }
  a {
    text-decoration: none;
  }
  .SectionName,
  .ItemName,
  .ItemDesc {
    border-top: 0.125rem solid #ddd;
    padding: 0.25rem 0.75rem 0.25rem 0;
    text-align: left;
    vertical-align: top;
  }
  .SectionName {
    font-weight: bold;
    padding-right: 1rem;
  }
  .ItemName {
  }
  .ItemDesc {
  }
}

.Glossary {
  .GlossName {
    font-weight: bold;
    margin-top: 1.25rem;
    a {
      text-decoration: none;
    }
    .GlossNameTerm {
      color: Color.primary('accent');
    }
    .GlossNameType,
    .GlossNameType a {
      color: #949494;
      color: Color.primary('stress');
      font-family: monospace;
      font-size : 0.9rem;
    }
  }
}

.MemberList {
  .MemberListName {

  }
  .Member {
    border: 1px solid blue;
    margin: 1rem 0;
  }
}

dd {
  margin-left:0;
}


/* ######################################################################### */
/* # Headnings                                                               */
/* ######################################################################### */

.headerlink {
  display:inline-block;
  height: 20px;
  width: 20px;
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fas' data-icon='link' class='svg-inline--fa fa-link fa-w-16' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='currentColor' d='M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 01-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0120.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0020.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 00-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z'/%3E%3C/svg%3E");
}

h1 .headerlink,
h2 .headerlink,
h3 .headerlink,
h4 .headerlink,
h5 .headerlink,
h6 .headerlink {
    transition: all .3s ease-in-out;
    opacity: 0;
    text-decoration: none;
    color: silver;
    font-size: 80%;
}

h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
    opacity: 1;
}

/* ######################################################################### */
/* # Copy                                                                    */
/* ######################################################################### */

main {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
  .DateTime {
    color: Color.primary('copy');
    display: block;
    font-family: Font.headline();
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
  .Title {
    margin: 0;
    position: relative;
    .Bling {
      color: Color.primary('copy')
    }
    + h2 {
      font-size: 1.40rem;
      margin-top: 0;
    }
    .Icon {
      fill: Color.primary('stress');
      margin: 0 0.4rem 0 0;
      height: 1.50rem;
      width: 1.50rem;
      @media(min-width: 730px) {
        position: absolute;
        top: 0;
        left: -1.7rem;
      }
    }
  }
}


/* ######################################################################### */
/* # Search Results                                                          */
/* ######################################################################### */

body.PreventScroll {
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#SearchResults {
  backdrop-filter: blur(3px);
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  padding: 0;
  opacity: 1;
  pointer-events: all;
  transition: opacity .3s, background .3s;
  &.Hidden {
    background: transparent;
    backdrop-filter: blur(0);
    opacity: 0;
    pointer-events: none;
  }
  header {
    padding: 0.30rem 0.30rem 0.30rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: 1.1rem;
      margin: 0;
    }
  }
}
#CloseSearchDialog {
  background: transparent;
  border: none;
  border-radius: 0.30rem;
  color: Color.secondary('copy');
  cursor: pointer;
  display: inline-block;
  min-height: 44px;
  padding: 0 0.75rem;
  &:active,
  &:focus {
    background: Color.secondary('stress');
    border: none;
    outline: none;
  }
}
#SearchDialog {
  width: 100%;
  background: Color.secondary('bg');
  color: Color.secondary('copy');
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
#SearchResultList {
  list-style: none;
  overflow: auto;
  padding: 1rem;
  margin: 0;
  background: Color.primary('bg');
  color: Color.primary('copy');
  .SearchResult {
    border-bottom: 1px solid var(--table-separator-color);
    margin-bottom: 1.75rem;
    text-align: left;
    h3 {
      color: Color.primary('accent');
      font-size: 1.30rem;
      margin: 0;
      a {
        text-decoration: none
      }
    }
    .SearchResultPath {
      color: Color.primary('copy');
      display: block;
      font-size: 0.75rem;
      margin: 0.20rem 0 0;
      word-break: break-word;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 500px) {
  #SearchResults {
    padding: 0 1rem;
    header {
      border-radius: 0.35rem 0.35rem 0 0;
    }
  }
  #SearchDialog {
    margin: 1rem auto;
    max-width: 40rem;
    border: 2px solid grey;
    box-shadow: 0 2px 5px Color.secondary('bg');
    max-height: 90%;
    border-radius: 0.35rem;
  }
}
