/**
 * Structure.
 *
 * Styles for the main layout elements.
 *
 * What is an element?
 *  - It's too general'
 *
 *
 *
 */

@use 'Animate';
@use 'Button';
@use 'Font';
@use 'Svg';
@use 'Color';
@use 'Typography' as Typo;
@use 'Utility';

.Bling {
  color : Color.primary('stress');
}


/* ######################################################################### */
/* # Template                                                                */
/* ######################################################################### */

%landmark {
  max-width: 36rem;
  margin: 0 auto;
  padding: 1rem;
}

body {
  > header {
    @extend %landmark;
    background: Color.secondary('bg');
    color: Color.secondary('copy');
    fill: Color.secondary('copy');
    max-width: none;
    a {
      color: inherit;
    }
    > div {
      align-items: stretch;
      background: inherit;
      color: inherit;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      max-width: 36rem;
      margin: 0 auto;
    }
    .Heading {
      margin: 0 0.5rem 0 0;
      padding: 0.5rem;
      .SiteName {
        color: inherit;
        display: inline-block;
        font-family: Font.headline();
        font-size: 2.00rem;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        position: relative;
        @media(min-width: 630px) {
          &:before {
            color: Color.secondary('stress');
            content: '\229B';
            display: inline-block;
            font-size: 3.5rem;
            line-height: 0.8;
            position: absolute;
              top: -0.25rem;
              left: -2.5rem;
            text-align: left;
            text-indent: -0.21rem;
            width: 2.1rem;
            height: 2.1rem;
          }
        }
        &.Spin {
          @media(min-width: 630px) {
            &:before {
              @include Animate.spin;
            }
          }
        }
        a {
          text-decoration: none;
          &:focus {
            outline: 0;
            text-decoration: underline;
          }
        }
        .Bling {
          color : Color.secondary('stress');
        }
      }
      .Tagline {
        color: inherit;
        display: block;
        font-size: 0.70rem;
        margin: 0;
        @media(min-width: 400px) {
          font-size: 0.75rem;
        }
        @media(min-width: 520px) {
          font-size: 0.80rem;
        }
      }
      &.Focused,
      &.Focused * {
        background: Color.red('bg');
        color: Color.red('copy');
      }
    }
    #Navigation {
      font-family: Font.headline();
      font-weight: bold;
      position: relative;
      text-align: right;
      .ToggleButton {
        appearance: none;
        background: inherit;
        border: 0;
        color: Color.secondary('stress');
        cursor: pointer;
        fill: Color.secondary('stress');
        font-family: Font.headline();
        font-size: 0.8rem;
        margin: 0;
        min-width: 44px;
        min-height: 44px;
        padding: 0;
        .Icon {
          background-color: inherit;
          color: inherit;
          fill: inherit;
        }
        &:focus {
          outline: 0;
          background: Color.secondary('stress');
          color: Color.secondary('bg');
          fill: Color.secondary('bg');
        }
      }
      #NavigationToggleClose {
        display: none;
      }
      .ToggleArea {
        background: Color.secondary('stress');
        color: Color.secondary('bg');
        fill: Color.secondary('bg');
        position: absolute;
        top: 44px;
        right: 0;
        z-index: 99999;
        text-align: left;
        width: 292px;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }
        a {
          align-items: center;
          background: inherit;
          color: inherit;
          display: flex;
          min-height: 44px;
          padding: 0 0.5rem;
          text-decoration: none;
        }
        a:focus {
          background: Color.red('bg');
          color: Color.red('copy');
          outline: 0;
        }
      }
    }
  }
  > section {
    @extend %landmark;
  }
  > footer {
    @extend %landmark;
    margin: 3rem auto 0;
    max-width: 36rem;
    padding: 0 1rem 1rem;
    text-align: left;
    .Menu {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        &:before {
          color: Color.primary('border');
          content: '\272A\0020';
        }
        &:first-child {
          &:before {
            content: '';
          }
        }
      }
      a {
        display: inline-block;
        margin-right: 0.5rem;
        text-decoration: none;
        white-space: pre-wrap;
      }
    }
    @media(min-width: 520px) {
      text-align: center;
    }
  }
}

#Sidebar {
  background: pink;
  position: fixed;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    ul {
      padding-left: 1rem;
    }
  }
  p {
    margin: 0;
  }
  @media (min-width: 450px) {
    background: lightblue;
    color: Color.primary('stress');
  }
}
#Content {
  @include Utility.VisibleBox();
  margin-left: 300px;
  padding-right: 1rem;
}


.Toc {
  .MemberName {
    font-weight: bold;
    text-decoration: none;
  }
}



/*
.Element {
  border: 1px solid red;
  margin: 1rem 0;
}
*/


.Toc {
  border-collapse: collapse;
  caption {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 0.90rem;
  }
  a {
    text-decoration: none;
  }
  .SectionName,
  .ItemName,
  .ItemDesc {
    border-top: 0.125rem solid #ddd;
    padding: 0.25rem 0.75rem 0.25rem 0;
    text-align: left;
    vertical-align: top;
  }
  .SectionName {
    font-weight: bold;
    padding-right: 1rem;
  }
  .ItemName {
  }
  .ItemDesc {
  }
}

.Glossary {
  .GlossName {
    font-weight: bold;
    margin-top: 1.25rem;
    a {
      text-decoration: none;
    }
    .GlossNameTerm {
      color: Color.primary('accent');
    }
    .GlossNameType,
    .GlossNameType a {
      color: #949494;
      color: Color.primary('stress');
      font-family: monospace;
      font-size : 0.9rem;
    }
  }
}

.MemberList {
  .MemberListName {

  }
  .Member {
    border: 1px solid blue;
    margin: 1rem 0;
  }
}

dd {
  margin-left:0;
}



/* ######################################################################### */
/* # Copy                                                                    */
/* ######################################################################### */

main {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
  .DateTime {
    color: Color.primary('copy');
    display: block;
    font-family: Font.headline();
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
  .Title {
    margin: 0;
    position: relative;
    .Bling {
      color: Color.primary('copy')
    }
    + h2 {
      font-size: 1.40rem;
      margin-top: 0;
    }
    .Icon {
      fill: Color.primary('stress');
      margin: 0 0.4rem 0 0;
      height: 1.50rem;
      width: 1.50rem;
      @media(min-width: 730px) {
        position: absolute;
        top: 0;
        left: -1.7rem;
      }
    }
  }
}
