{% extends 'base.html.twig' %}

{% block content %}
    {% include('components/breadcrumbs.html.twig') %}

    <article class="Element -file">
        <h2 class="DocumentTitle">{{ node.name }}</h2>
        {{ include('components/element-header.html.twig') }}

        {{ include('components/constants.html.twig') }}
        {{ include('components/functions.html.twig') }}
    </article>
{% endblock %}
