@use './css/RowanStyles/_Button.scss';
@use './css/RowanStyles/_Static.scss';
@use './css/RowanStyles/_Interactive.scss';
@use './css/RowanStyles/_Utility.scss';
@use './css/RowanStyles/_Structure.scss';
@use './css/RowanStyles/_Blocks.scss';
@use './css/RowanStyles/PrismTheme.scss';

html {
  box-sizing: border-box;
  overflow-y: scroll;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

.Copy {
  @include Utility.VisibleBox();
  margin: 0;
  img {
    height: auto;
    max-width: 100%;
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

.Menu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @media(min-width: 520px) {
      display: flex;
      align-items: baseline;
    }
  }
  li {
    display: block;
  }
  a {
    display: block;
    margin-right: 0.5rem;
    text-decoration: none;
    white-space: pre-wrap;
  }
}
.Active {
  background : #ccc;
}
a {
  color: #555;
}
pre {
  max-width: 100%;
}
