<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ project.name }}{% endblock %}</title>
  {{ renderBaseUrlHeader() }}

  {% block stylesheets %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  {% endblock %}

  {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@3.4.6"></script>
    <script src="js/search.js"></script>
    <script defer src="js/searchIndex.js"></script>
  {% endblock %}
</head>
<body id="top">
  <header id="Nameplate">
    <div>
      <div class="Heading">
        <h1 id="SiteName" class="SiteName">
          <a href="{{ path('/') }}">Rowan says<span class="Bling">…</span></a>
        </h1>
        <p id="Tagline" class="Tagline">{{ project.name }}</p>
      </div>
    </div>
  </header>
  <div id="Primary">
    <nav id="Sidebar">
      {% include 'components/sidebar.html.twig' %}
    </nav>
    <main id="Content">
      {% block content %}{% endblock %}
    </main>
  </div>
  {% include 'components/search-results.html.twig' %}
</body>
</html>
