<!DOCTYPE html>
<!--HI FROM ROWAN'S TEMPLATE :) -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ project.name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ renderBaseUrlHeader() }}

    {% block stylesheets %}
        <link rel="stylesheet" href="style.css">
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/fuse.js@3.4.6"></script>
        <script src="js/search.js"></script>
        <script defer src="js/searchIndex.js"></script>
    {% endblock %}
</head>
<body id="top">
    {% include 'components/header.html.twig' %}

    <main class="phpdocumentor">
        <div class="phpdocumentor-section">
            {% include 'components/sidebar.html.twig' %}

            <div class="phpdocumentor-column -eight phpdocumentor-content">
                {% block content %}{% endblock %}
                {% include 'components/search-results.html.twig' %}
            </div>
        </div>
    </main>
</body>
</html>
